__pycache__/
*.pyc
.pytest_cache/
*.bak
.DS_Store
footage/
*.egg-info/
.venv/
venv/
ssh_plan_new/
results/
vid/out/
.commandcode
scratch/
*.pt
ref_vid/
out/
vid/

# Frontend / Node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
